<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- struts.actions -->

	<bean id="MenuAction" class="struts.action.MenuAction">
		<property name="dao" ref="MenuDAO"></property>
	</bean>
	<bean id="EditMenuAction" class="struts.action.EditMenuAction" scope="prototype">
		<property name="dao" ref="MenuDAO"></property>
	</bean>
	<!-- DAO -->
	
</beans>